html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.popUp{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 25pt;
  animation-name: fadeOut;
  animation-duration: 7s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0%   {top: 0vw; opacity: 1;}
  80% {top: 0.5vw; opacity: 1;}
  100% {top: 5vw; opacity: 0;}
}


